.wrapper {
    position: relative;
    padding-top: 120px;
    padding-bottom: 80px;
}

@media (max-width: 755px) {
    .wrapper {
        padding-top: 80px;
        padding-bottom: 60px;
    }
}

.inner {
    position: relative;
    z-index: 1;
}

.dots {
    position: absolute;
    color: var(--mantine-color-gray-1);
}

@media (max-width: 755px) {
    .dots {
        display: none;
    }
}

.dotsLeft {
    left: 0;
    top: 0;
}

.title {
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    letter-spacing: -1px;
    color: var(--mantine-white);
    margin-bottom: var(--mantine-spacing-xs);
    font-family: Greycliff CF, var(--mantine-font-family);
}

@media (max-width: 520px) {
    .title {
        font-size: 28px;
        text-align: left;
    }
}

.description {
    text-align: center;
}

@media (max-width: 520px) {
    .description {
        text-align: left;
        font-size: var(--mantine-font-size-md);
    }
}

.controls {
    margin-top: var(--mantine-spacing-lg);
    display: flex;
    justify-content: center;
}

@media (max-width: 520px) {
    .controls {
        flex-direction: column;
    }
}

.control:not(:first-of-type) {
    margin-left: var(--mantine-spacing-md);
}

@media (max-width: 520px) {
    .control {
        height: 42px;
        font-size: var(--mantine-font-size-md);
    }

    .control:not(:first-of-type) {
        margin-top: var(--mantine-spacing-md);
        margin-left: 0;
    }
}